---
import SubPageLayout from '../components/SubPageLayout.astro';

const base = import.meta.env.BASE_URL;
const menuItems = [
  { id: '1', label: '馬來西亞-珠寶店', href: `${base}group?id=1` },
  { id: '4', label: '馬來西亞-土產推廣中心', href: `${base}group?id=4` },
];
---

<SubPageLayout
  title="關係企業"
  titleEn="Affiliate Enterprise"
  titleTw="關係企業"
  menuItems={menuItems}
  activeId="1"
>
  <h2><img alt="" src="/cjwtw-website/images/upload/2022_05_25_231700(4).jpg" style="height:1080px; width:1440px" /><img alt="" src="/cjwtw-website/images/upload/2022_05_25_231702.jpg" style="height:1080px; width:1440px" /></h2>

<p><img alt="" src="/cjwtw-website/images/upload/2022_02_09_140309.jpg" style="height:1080px; width:1440px" /><img alt="" src="/cjwtw-website/images/upload/2022_02_09_140324.jpg" style="height:1080px; width:1440px" /><img alt="" src="/cjwtw-website/images/upload/2022_02_09_140335.jpg" style="height:1440px; width:1080px" /><img alt="" src="/cjwtw-website/images/upload/2022_02_09_140344.jpg" style="height:1440px; width:1080px" /><img alt="" src="/cjwtw-website/images/upload/2022_05_25_231702(4).jpg" style="height:800px; width:600px" /></p>

<p><img alt="" src="/cjwtw-website/images/upload/2022_02_09_140408.jpg" style="height:1440px; width:1080px" /></p>

<p><img alt="" src="/cjwtw-website/images/upload/2022_02_09_140421.jpg" style="height:1080px; width:1440px" /><img alt="" src="/cjwtw-website/images/upload/2022_02_09_140431.jpg" style="height:600px; width:800px" /><img alt="" src="/cjwtw-website/images/upload/2022_02_09_140440.jpg" style="height:600px; width:800px" /><img alt="" src="/cjwtw-website/images/upload/2022_02_09_140449.jpg" style="height:800px; width:600px" /></p>

<p><img alt="" src="/cjwtw-website/images/upload/2022_02_09_140502.jpg" style="height:800px; width:600px" /></p>

</SubPageLayout>
