---
import SubPageLayout from '../../components/SubPageLayout.astro';

const base = import.meta.env.BASE_URL;
const menuItems = [
  { id: '5', label: '寶得利子公司-完美比例與中國國際航空簽署貨運承攬業務', href: `${base}news/5` },
  { id: '1', label: '寶得利首間馬來西亞據點揭牌報導', href: `${base}news/1` },
  { id: '3', label: '金門高梁酒 限量優惠活動', href: `${base}news/3` },
];
---

<SubPageLayout
  title="寶得利首間馬來西亞據點揭牌報導"
  titleEn="NEWS"
  titleTw="新消息"
  menuItems={menuItems}
  activeId="1"
>
  <p>
    <img alt="" src="/cjwtw-website/images/upload/2022_05_25_231700.jpg" style="height:446px; width:600px" />
  </p>

  <p style="margin-left:0cm; margin-right:0cm; text-align:justify">
    <span style="font-size:12pt"
      ><span style="font-family:Calibri," sans-serif""
        ><strong
          ><span style="font-family:" 新細明體","serif""
            ><span style="color:black">董事長張雅琍因應新南向、一帶一路</span></span
          ></strong
        ><strong> </strong><strong
          ><span style="font-family:" 新細明體","serif""><span style="color:black">搶先卡位海上絲路重要據點</span></span
          ></strong
        ><strong> </strong><strong
          ><span style="font-family:" 新細明體","serif""
            ><span style="color:black">投資印象麻六甲新區大型造鎮計劃　接續打造時尚品牌科技商場</span></span
          ></strong
        ></span
      ></span
    >
  </p>

  <p style="margin-left:0cm; margin-right:0cm; text-align:justify">
    <span style="font-size:12pt"
      ><span style="font-family:Calibri," sans-serif""
        ><span style="font-size:11.5pt"
          ><span style="font-family:" 新細明體","serif""
            ><span style="color:black">積極布局海外市場，以接待陸客</span></span
          ></span
        >
        <span style="font-size:11.5pt"
          ><span style="font-family:" 新細明體","serif""
            ><span style="color:black">來台為主的台灣上市上櫃公司</span></span
          ></span
        >
        <span style="font-size:11.5pt"
          ><span style="font-family:" 新細明體","serif""><span style="color:black">（</span></span></span
        ><span style="font-size:11.5pt"
          ><span style="font-family:" Arial","sans-serif""><span style="color:black">5301</span></span></span
        ><span style="font-size:11.5pt"
          ><span style="font-family:" 新細明體","serif""
            ><span style="color:black">）寶得利國際股份有限公司董事</span></span
          ></span
        >
        <span style="font-size:11.5pt"
          ><span style="font-family:" 新細明體","serif""
            ><span style="color:black">長張雅琍，對於目前台灣陸客觀光市場</span></span
          ></span
        >
        <span style="font-size:11.5pt"
          ><span style="font-family:" 新細明體","serif""
            ><span style="color:black">的惡劣前景，調整經營策略，帶著台灣</span></span
          ></span
        >
        <span style="font-size:11.5pt"
          ><span style="font-family:" 新細明體","serif""
            ><span style="color:black">優秀員工轉向東南亞國家的觀光購物市</span></span
          ></span
        >
        <span style="font-size:11.5pt"
          ><span style="font-family:" 新細明體","serif""
            ><span style="color:black">場，首站進軍馬來西亞首都－吉隆坡，</span></span
          ></span
        >
        <span style="font-size:11.5pt"
          ><span style="font-family:" 新細明體","serif""><span style="color:black">並於</span></span></span
        ><span style="font-size:11.5pt"
          ><span style="font-family:" Arial","sans-serif""><span style="color:black">1</span></span></span
        ><span style="font-size:11.5pt"
          ><span style="font-family:" 新細明體","serif""><span style="color:black">／</span></span></span
        ><span style="font-size:11.5pt"
          ><span style="font-family:" Arial","sans-serif""><span style="color:black">23</span></span></span
        ><span style="font-size:11.5pt"
          ><span style="font-family:" 新細明體","serif""><span style="color:black">舉行</span></span></span
        ><span style="font-size:11.5pt"
          ><span style="font-family:" Arial","sans-serif""><span style="color:black">2</span></span></span
        ><span style="font-size:11.5pt"
          ><span style="font-family:" 新細明體","serif""><span style="color:black">間店家的開幕剪綵和揭</span></span
          ></span
        >
        <span style="font-size:11.5pt"
          ><span style="font-family:" 新細明體","serif""
            ><span style="color:black">牌儀式，分別為土特產店以及乳膠床墊</span></span
          ></span
        >
        <span style="font-size:11.5pt"
          ><span style="font-family:" 新細明體","serif""
            ><span style="color:black">等門市，場面相當盛大隆重。</span></span
          ></span
        ></span
      ></span
    >
  </p>

  <p style="margin-left:0cm; margin-right:0cm; text-align:justify">
    <span style="font-size:12pt"
      ><span style="font-family:Calibri," sans-serif""
        ><span style="font-size:11.5pt"
          ><span style="font-family:" 新細明體","serif""
            ><span style="color:black">同時，開幕當天張雅琍更盛邀駐馬來</span></span
          ></span
        >
        <span style="font-size:11.5pt"
          ><span style="font-family:" 新細明體","serif""
            ><span style="color:black">西亞台北經濟文化辦事處公使尹新垣、馬</span></span
          ></span
        >
        <span style="font-size:11.5pt"
          ><span style="font-family:" 新細明體","serif""
            ><span style="color:black">來西亞民主行動黨黨主席蕉賴區國會議員</span></span
          ></span
        >
        <span style="font-size:11.5pt"
          ><span style="font-family:" 新細明體","serif""
            ><span style="color:black">陳國偉、年代國際高科技媒體園區總經理</span></span
          ></span
        >
        <span style="font-size:11.5pt"
          ><span style="font-family:" 新細明體","serif""
            ><span style="color:black">林志華賢伉儷、台塩實業董事長陳啟昱、</span></span
          ></span
        >
        <span style="font-size:11.5pt"
          ><span style="font-family:" 新細明體","serif""
            ><span style="color:black">全球人壽董事長彭騰德、台灣中小信保基</span></span
          ></span
        >
        <span style="font-size:11.5pt"
          ><span style="font-family:" 新細明體","serif""
            ><span style="color:black">金會董事長蔡憲浩、亞昕建設董事長姚</span></span
          ></span
        >
        <span style="font-size:11.5pt"
          ><span style="font-family:" 新細明體","serif""
            ><span style="color:black">連地賢伉儷、台灣瑞興銀行董</span></span
          ></span
        >
        <span style="font-size:11.5pt"
          ><span style="font-family:" 新細明體","serif""
            ><span style="color:black">事黃豊益、台灣春天醫學美容</span></span
          ></span
        >
        <span style="font-size:11.5pt"
          ><span style="font-family:" 新細明體","serif""
            ><span style="color:black">診所董事長何麗玲、宜蘭縣議</span></span
          ></span
        >
        <span style="font-size:11.5pt"
          ><span style="font-family:" 新細明體","serif""
            ><span style="color:black">員黃浴沂、同旺開發董事長陳</span></span
          ></span
        >
        <span style="font-size:11.5pt"
          ><span style="font-family:" 新細明體","serif""
            ><span style="color:black">坤維等嘉賓蒞臨，共襄盛舉。</span></span
          ></span
        ></span
      ></span
    >
  </p>

  <p style="margin-left:0cm; margin-right:0cm; text-align:justify">
    <span style="font-size:12pt"
      ><span style="font-family:Calibri," sans-serif""
        ><strong
          ><span style="font-size:13.5pt"
            ><span style="font-family:" 新細明體","serif""
              ><span style="color:black">海外布局首站落腳馬來西亞</span></span
            ></span
          ></strong
        ><strong> </strong><strong
          ><span style="font-size:13.5pt"
            ><span style="font-family:" 新細明體","serif""
              ><span style="color:black">投資海上絲路重要據點麻六甲</span></span
            ></span
          ></strong
        ><strong> </strong></span
      ></span
    >
  </p>

  <p style="margin-left:0cm; margin-right:0cm; text-align:justify">
    <span style="font-size:12pt"
      ><span style="font-family:Calibri," sans-serif""
        ><span style="font-size:11.5pt"
          ><span style="font-family:" 新細明體","serif""
            ><span style="color:black">中華觀光精品產業協會秘書長張國榮</span></span
          ></span
        >
        <span style="font-size:11.5pt"
          ><span style="font-family:" 新細明體","serif""
            ><span style="color:black">表示，在兩岸因政治因素低迷之際，陸</span></span
          ></span
        >
        <span style="font-size:11.5pt"
          ><span style="font-family:" 新細明體","serif""
            ><span style="color:black">客來台人次下滑對台灣造成觀光產業重</span></span
          ></span
        >
        <span style="font-size:11.5pt"
          ><span style="font-family:" 新細明體","serif""
            ><span style="color:black">創，張雅琍作為一個上市櫃公司的營運</span></span
          ></span
        >
        <span style="font-size:11.5pt"
          ><span style="font-family:" 新細明體","serif""
            ><span style="color:black">者，擔負起對投資人的責任，必須帶頭</span></span
          ></span
        >
        <span style="font-size:11.5pt"
          ><span style="font-family:" 新細明體","serif""
            ><span style="color:black">跨出台灣、布局外海外，無論前景艱辛</span></span
          ></span
        >
        <span style="font-size:11.5pt"
          ><span style="font-family:" 新細明體","serif""><span style="color:black">也要勇往向前。</span></span></span
        ></span
      ></span
    >
  </p>

  <p style="margin-left:0cm; margin-right:0cm; text-align:justify">
    <span style="font-size:12pt"
      ><span style="font-family:Calibri," sans-serif""
        ><span style="font-size:11.5pt"
          ><span style="font-family:" 新細明體","serif""
            ><span style="color:black">其次，張雅琍更是呼應政府新南向</span></span
          ></span
        >
        <span style="font-size:11.5pt"
          ><span style="font-family:" 新細明體","serif""
            ><span style="color:black">政策的表率！考察東南亞各國後，首選</span></span
          ></span
        >
        <span style="font-size:11.5pt"
          ><span style="font-family:" 新細明體","serif""
            ><span style="color:black">落腳馬來西亞吉隆坡作為起點，逐步發</span></span
          ></span
        >
        <span style="font-size:11.5pt"
          ><span style="font-family:" 新細明體","serif""
            ><span style="color:black">展。此外，更響應大陸一帶一路政策，</span></span
          ></span
        >
        <span style="font-size:11.5pt"
          ><span style="font-family:" 新細明體","serif""
            ><span style="color:black">選擇海上絲路重要據點麻六甲作為投資</span></span
          ></span
        >
        <span style="font-size:11.5pt"
          ><span style="font-family:" 新細明體","serif""
            ><span style="color:black">區，與當地業者及政府合作，鎖定大陸</span></span
          ></span
        >
        <span style="font-size:11.5pt"
          ><span style="font-family:" 新細明體","serif""
            ><span style="color:black">旅客，將台灣精品帶向全世界。</span></span
          ></span
        ></span
      ></span
    >
  </p>

  <p style="margin-left:0cm; margin-right:0cm; text-align:justify">
    <span style="font-size:12pt"
      ><span style="font-family:Calibri," sans-serif""
        ><strong
          ><span style="font-size:13.5pt"
            ><span style="font-family:" 新細明體","serif""><span style="color:black">企業垂直整合帶動</span></span
            ></span
          ></strong
        ><strong
          ><span style="font-size:13.5pt"
            ><span style="font-family:" Arial","sans-serif""><span style="color:black">GDP</span></span></span
          ></strong
        ><strong
          ><span style="font-size:13.5pt"
            ><span style="font-family:" 新細明體","serif""><span style="color:black">成長</span></span></span
          ></strong
        ><strong> </strong><strong
          ><span style="font-size:13.5pt"
            ><span style="font-family:" 新細明體","serif""><span style="color:black">參與麻六甲大型造鎮計劃</span></span
            ></span
          ></strong
        ><strong> </strong></span
      ></span
    >
  </p>

  <p style="margin-left:0cm; margin-right:0cm; text-align:justify">
    <span style="font-size:12pt"
      ><span style="font-family:Calibri," sans-serif""
        ><span style="font-size:11.5pt"
          ><span style="font-family:" 新細明體","serif""
            ><span style="color:black">除了進軍馬來西亞尋求新商機，同</span></span
          ></span
        >
        <span style="font-size:11.5pt"
          ><span style="font-family:" 新細明體","serif""
            ><span style="color:black">時亦帶起旅遊產業的新契機，張國榮指</span></span
          ></span
        >
        <span style="font-size:11.5pt"
          ><span style="font-family:" 新細明體","serif""
            ><span style="color:black">出，寶得利在馬來西亞的旅遊購物營運</span></span
          ></span
        >
        <span style="font-size:11.5pt"
          ><span style="font-family:" 新細明體","serif""
            ><span style="color:black">模式為一條龍企業垂直整合，勢必帶動</span></span
          ></span
        >
        <span style="font-size:11.5pt"
          ><span style="font-family:" 新細明體","serif""
            ><span style="color:black">馬來西亞的就業人口成長，同時增加馬</span></span
          ></span
        >
        <span style="font-size:11.5pt"
          ><span style="font-family:" 新細明體","serif""
            ><span style="color:black">來西亞政府觀光收入。看好馬來西亞擁</span></span
          ></span
        >
        <span style="font-size:11.5pt"
          ><span style="font-family:" 新細明體","serif""
            ><span style="color:black">有得天獨厚的天然資源，輔以寶得利整</span></span
          ></span
        >
        <span style="font-size:11.5pt"
          ><span style="font-family:" 新細明體","serif""
            ><span style="color:black">合成功經驗，企盼與馬來西亞旅遊相關</span></span
          ></span
        >
        <span style="font-size:11.5pt"
          ><span style="font-family:" 新細明體","serif""
            ><span style="color:black">產業同業共創無煙囪產業，一起攜手打</span></span
          ></span
        >
        <span style="font-size:11.5pt"
          ><span style="font-family:" 新細明體","serif""><span style="color:black">造更美麗的馬來西亞。</span></span
          ></span
        ></span
      ></span
    >
  </p>

  <p style="margin-left:0cm; margin-right:0cm; text-align:justify">
    <span style="font-size:12pt"
      ><span style="font-family:Calibri," sans-serif""
        ><span style="font-size:11.5pt"
          ><span style="font-family:" 新細明體","serif""><span style="color:black">新開幕的</span></span></span
        ><span style="font-size:11.5pt"
          ><span style="font-family:" Arial","sans-serif""><span style="color:black">3</span></span></span
        ><span style="font-size:11.5pt"
          ><span style="font-family:" 新細明體","serif""><span style="color:black">間店家分別為馬國精品文</span></span
          ></span
        >
        <span style="font-size:11.5pt"
          ><span style="font-family:" 新細明體","serif""
            ><span style="color:black">化土特產中心、國際珠寶時尚精品中心</span></span
          ></span
        >
        <span style="font-size:11.5pt"
          ><span style="font-family:" 新細明體","serif""
            ><span style="color:black">馬來西亞健康乳膠製品中心、中華風味</span></span
          ></span
        >
        <span style="font-size:11.5pt"
          ><span style="font-family:" 新細明體","serif""
            ><span style="color:black">美食料理中心。緊接著將參與重大國家</span></span
          ></span
        >
        <span style="font-size:11.5pt"
          ><span style="font-family:" 新細明體","serif""
            ><span style="color:black">印象麻六甲新區大型造鎮計劃，並和台</span></span
          ></span
        >
        <span style="font-size:11.5pt"
          ><span style="font-family:" 新細明體","serif""
            ><span style="color:black">灣上市上櫃公司亞昕集團分工合作，聯</span></span
          ></span
        >
        <span style="font-size:11.5pt"
          ><span style="font-family:" 新細明體","serif""
            ><span style="color:black">手打造寶得利仕女時尚品牌科技商場，</span></span
          ></span
        >
        <span style="font-size:11.5pt"
          ><span style="font-family:" 新細明體","serif""
            ><span style="color:black">該商場的計劃目前已經完成購地，有信</span></span
          ></span
        >
        <span style="font-size:11.5pt"
          ><span style="font-family:" 新細明體","serif""
            ><span style="color:black">心讓大家對寶得利創意商城刮目相看</span></span
          ></span
        ><br />
        <span style="font-size:11.5pt"
          ><span style="font-family:" Arial","sans-serif""><span style="color:black">(</span></span></span
        ><span style="font-size:11.5pt"
          ><span style="font-family:" 新細明體","serif""><span style="color:black">原文網址</span></span></span
        ><span style="font-size:11.5pt"
          ><span style="font-family:" Arial","sans-serif""
            ><span style="color:black">http://www.richmarcom.tw/news/detail.aspx?&amp;Subject_id=25186)</span></span
          ></span
        ></span
      ></span
    >
  </p>
</SubPageLayout>
